<form class="password-form">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline" >
        <mat-label>Input username</mat-label>
        <input matInput placeholder="请输入账号" name="name" [(ngModel)]="user.username">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>账号</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Input password</mat-label>
        <input matInput placeholder="请输入密码" name="password" [(ngModel)]="user.password">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>密码</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <button mat-raised-button (click)="getJwtToken()">提交</button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
